.logo {
  width: 25%;
}

.main-nav-con {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color:slateblue;


.main-nav-con{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    /* background-color: transparent; */
    background-color:chartreuse;
}
.navbar{
  --bs-navbar-nav-link-padding-x:1.5rem;

}

.Nav_main{
  background-color: transparent !important;
}

.navbar {
  --bs-navbar-nav-link-padding-x: 1.5rem;
  font-family: Poppins, Regular;
}

.letstalk-btn {
  color: white;
  background-color: transparent;
  border-style: none;
  height: 30px;
  width: 90px;
  border-radius: 15px;
  border: white thin;
}

.letstalk-btn:hover {
  background-color: rgb(209, 15, 177);
  
.letstalk-btn:hover{
  background-color: aqua;

}
