.container {
  background-image:  transparent("../../Assets/images/bgimageforhome.png");
}

.premier-text {
  color: black;
  font-size: 40px;
  font-family: Poppins, Regular;
  font-weight: 950 !important;
  margin-bottom: 20px;
}
.dive-text {
  margin-top: 1.2rem;
  font-weight: 400;
  font-size: 18px;
  padding: 0 10px;
  font-family: Poppins, Regular;
}

.images-main1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.aws-main {
  margin-right: 50px;
}
.gcp-main {
  margin-right: 50px;
}
.azure-main {
  margin-right: 50px;
  padding-right: 20px;
}

.azure-main {
  margin-right: 20px;
}
.aws-img {
  width: 60%;
  display: flex;
}
.gcp-img {
  width: 60%;
}
.azure-img {
  width: 60%;
  display: flex;
}

.images-main2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.trend-img {
  width: 60%;
  display: flex;
}
.oracle-img {
  width: 60%;
}
.vmware-img {
  width: 60%;
  display: flex;
}
